.modal-edit-user,
.modal-add-user {
    .ant-picker {
        padding-left: 0;
        background: none !important;
        border-radius: 0;
        border: none;
        border-bottom: 2px solid #4b5563;
        &-focused {
            &.ant-picker {
                box-shadow: none;
                outline: 0;
                border-radius: 0;
            }
        }
        .ant-picker-input {
            > input {
                color: #fff;
                &::placeholder {
                    color: #9b9b9b; /* Màu cho placeholder */
                }
            }
        }
        .ant-picker-suffix {
            color: #fff;
        }
        .ant-picker-clear {
            background: #0f172a;
            color: rgb(164, 164, 164);
            &:hover {
                color: white;
            }
        }
    }
    .ant-select {
        border-bottom: 2px solid #4b5563 !important;
        .ant-select-selector {
            border-radius: 0;
            box-shadow: none !important;
            background-color: transparent !important;
            border: 0 !important;
        }
        .ant-select-selection-placeholder {
            color: #9b9b9b !important;
        }
        .ant-select-selection-item {
            color: #fff !important;
        }
        .ant-select-clear {
            background: #0f172a;
            color: rgb(164, 164, 164);
            &:hover {
                color: white;
            }
        }
        .ant-select-selector {
            padding-left: 0;
        }
    }
}
